{% extends "index.html" %}

{% block page_content %}

<div class="container py-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 pb-4">
      <h1 class="display-4 font-weight-bold">I Don't Mind</h1>
      <h5>An anonymous voting app for indecisive friend groups.</h5>
      <a href="{% url 'get_room_id' %}">
        <button name="create_new" class="btn btn-primary">Create New Room</button>
      </a>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 pb-4">
      <form method="POST">{% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" name="room_id" placeholder="Room ID">
        </div>
        <button type="submit" name="join" class="btn btn-primary">Join Room</button>
      </form>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
    </div>
  </div>
</div>
{% endblock %}