{% extends "index.html" %}

{% block page_content %}
<div class="h-100 row align-items-center">
  <div class="col">
    <div class="class="h-100 row align-items-center">
      <h1>I Don't Mind</h1>
    </div>
    <a href="{% url 'create' %}">
      <button name="create_new" class="btn btn-primary">Create New Room</button>
    </a>
    <div class="class="h-100 row align-items-center"> 
      <form method="POST">{% csrf_token %}
        <div class="form-group">
          <label for="room_id">Room ID</label>
          <input type="text" class="form-control" name="room_id" placeholder="Room ID">
        </div>
        <button type="submit" name="join" class="btn btn-primary">Join Room</button>
      </form>
    </div> 
  </div>
</div>
{% endblock %}